# 	Faccio una blacklist completa di tutta le cartelle del progetto
*
*/

# 	Da qui parte la lista di tutti i file e cartelle che entreranno 
#	nella whitelist, come eccezione alla regola di prima
#	(cambia solo il punto esclamativo all'inizio di ogni riga)
!.gitignore
!README.md

!src
!src/mondo_robot
!src/mondo_robot/*.java

!src/mondo_robot/Image/*.png
!src/mondo_robot/Image

!src/mondo_robot/Model
!src/mondo_robot/Model/*.java
!src/mondo_robot/View
!src/mondo_robot/View/*.java
!src/mondo_robot/Controller
!src/mondo_robot/Controller/*.java

!makeJavadoc.*

!guida-MondoRobot.txt
